<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          
        <div class="post-heading">
          <div class="text-left float-left"><img src="assets/back.png" routerLink="/"></div>
          <h1 class="text-right">my posts on  <img src="https://cdn-images-1.medium.com/max/400/1*uLuWzCXfq2rt1t_TkuLB8A.png" style="max-width: 100px"></h1>
        </div>
        
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="row">
    <div class="col-lg-7 col-md-10 mx-auto">
      <div>
          <div *ngIf="loading" class="center">
            <img src="assets/loading.svg">
          </div>
          <div *ngFor="let post of posts; index as i" class="card mb-3 clickable" [routerLink]="['/updates', post.id]">
              <div class="card-header">
                  <h5 class="card-title">{{post.title}}</h5>
              </div>
              <div class="card-body">
                <div [innerHtml]="post['content:encoded']"></div>
              </div>
                  <div class="card-body">
                      </div>
                  <div class="card-footer text-right">
                      <p class="card-text text-left float-left"><small class="text-muted">posted by {{post['dc:creator']}} on {{post.pubDate}}</small></p>
                      originally at 
                      <img src="https://cdn-images-1.medium.com/max/600/1*JRMLdiqVq5bP9Fs6HEQVhw.png" style="width: 60px">
                  </div>
      
              </div>
          </div>
      </div>
  </div>
</article>
