.text-desc {
    font-size:  12px;
    position: relative;
    float: right;
    top: -30px;
    right: 80px;
}

.name {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2)
}

.me {
    position: static;
    background-color: #b1afaf;
    padding:7px;
    border-radius: 50%;
    width: 100%;
    box-shadow: 1px 1px 0 #ccc,
               1px 2px 0 #c9c9c9,
               1px 3px 0 #bbb,
               1px 6px 1px rgba(0,0,0,.1),
               1px 0 5px rgba(0,0,0,.1),
               1px 1px 3px rgba(0,0,0,.3),
               1px 3px 5px rgba(0,0,0,.2)
}

.publons {
    background-color: #336799;
    padding:8px;
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 6px 6px 0 rgba(19, 8, 8, 0.1), 0 10px 10px 0 rgba(24, 6, 6, 0.179);
}

.darthvader img{
    transform: translate(50px, 50px);
    position: absolute;
    width: 100px;
    z-index: 0;
    
}

.appear {
    transform: translateX(-130px); 
    transition: all 0.5s ease-in-out 0.5s; 
}

img.hand {
    width: 30px;
    transition: all 0.1s ease-in-out 0s;
    margin: 5px; 
}

img.shake {
    width: 30px;
    cursor: default;
    transform: rotate(90deg);
    transition: all 0.1s ease-in-out 0s; 
    margin: 5px;
    
}

img.location {
    width: 30px;
    transition: all 0.1s ease-in-out 0s; 
}

.publons-logo {
    padding-bottom: 30px;
}

p {
    line-height: 1.3;
    clear: both;
    font-family: 'Raleway', serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    font-size: 18px;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@keyframes slideInFromTop {
    0% {
      transform: translate(0, -500%);
    }
    100% {
      transform: translate(0, 0);;
    }
}
.blocks {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap:0px;
}

@media only screen and (max-width: 700px) {
	.blocks {
        grid-template-columns: 1fr;
    }
    
}


.floating-box {
    z-index: 1;
    line-height: 0.5;
    //transform: translate(-50%,0);
    //position: relative;
    //left: 50%;
    padding: 30px;
    
    margin: 20px;
    background: black;  
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.179);
    @include animation(0.5s ease-out 0s 1 slideInFromTop);
}

@media only screen and (min-width: 700px) {
	.floating-box {
        margin-right: 30%;
    }
    .me, .publons {
        width:200%;
    }
}

$colors-font: #ffffff #ffffff rgb(250, 250, 250) rgb(255, 255, 255) rgb(255, 198, 214);
$colors-back: linear-gradient(200deg, #BA5EC2,#F662A8, #FF7A87, #FFA16B, #FFCD5E, #F9F871) 
            linear-gradient(140deg, #123161, #1b6486, #3d92b4, #479dc5, #79d4d4 )
            linear-gradient(140deg, #173869, #004e71, #005e60, #256a44, #676f32 ) 
            linear-gradient(90deg, #112a4f, #003953,  #004445)
            linear-gradient(90deg, #004445, #1b4b30, #484e24) ;

@each $current in $colors-back {
    $i: index($colors-back, $current);
    .color#{$i} {
        color: nth($colors-font, $i);
        @include transition(all 1.3s ease-in-out 0s);
        background: $current;
    }
    @if $i == 1 {
        .color#{$i} {
            grid-column: 1/3;
            //grid-column-start: 1;
            //grid-column-end: 3;
            
        }
        @media only screen and (max-width: 700px) {
            .color#{$i} {
                grid-column: 1/2;
            } 
        }
        //darkside
        .color#{$i}:hover {
            color: white;
            //background: black;
            transition: color 1s ease-in-out 2s; 
        }
    }
    @if $i == 2 {
        .color#{$i} {
            grid-column: 1/3;
            //grid-column-start: 1;
            //grid-column-end: 3;
            
        }
        @media only screen and (max-width: 700px) {
            .color#{$i} {
                grid-column: 1/2;
            } 
        }
    }
    @if $i == 3 {
        .color#{$i} {
            grid-column: 1/3;
            //grid-column-start: 1;
            //grid-column-end: 3;
            
        }
        @media only screen and (max-width: 700px) {
            .color#{$i} {
                grid-column: 1/2;
            } 
        }
    }
    @if $i == 4 {
        .color#{$i} {
            grid-column: 1/3;
            //grid-column-start: 1;
            //grid-column-end: 3;
            
        }
        @media only screen and (max-width: 700px) {
            .color#{$i} {
                grid-column: 1/2;
            } 
        }
    }
}

.larger {
    transition: all 0.2s ease-in-out 0s;
    transform: scale(1.1);
    z-index: 2;
}

a.publons-link:link { 
    transition: all 1.3s ease-in-out 0s; 
    color:rgb(181, 212, 241); text-decoration:none; font-weight:normal; 
}
a.publons-link:visited { color: rgb(181, 212, 241);text-decoration:none; font-weight:normal; }
a.publons-link:hover { 
    transition: all 1.3s ease-in-out 0s; 
    color: #336799; text-decoration:none; font-weight:normal; 
}
a.publons-link:active { color: rgb(181, 212, 241); text-decoration:none; font-weight:normal; }

a.music:link { 
    transition: all 1.3s ease-in-out 0s; 
    color:rgb(50, 161, 59); text-decoration:none; font-weight:normal; 
}
a.music:visited { color: rgb(50, 161, 59); text-decoration:none; font-weight:normal; }
a.music:hover { 
    transition: all 1.3s ease-in-out 0s; 
    color: rgb(0, 248, 21); text-decoration:none; font-weight:normal; 
}
a.music:active { color: rgb(50, 161, 59); text-decoration:none; font-weight:normal; }

a.onrepeat:link { 
    transition: all 1.3s ease-in-out 0s; 
    color:rgb(194, 32, 59); text-decoration:none; font-weight:normal; 
}
a.onrepeat:visited { color: rgb(194, 32, 59); text-decoration:none; font-weight:normal; }
a.onrepeat:hover { 
    transition: all 1.3s ease-in-out 0s; 
    color: rgb(255, 6, 6); text-decoration:none; font-weight:normal; 
}
a.onrepeat:active { color: rgb(194, 32, 59); text-decoration:none; font-weight:normal; }

a.series:link { 
    transition: all 1.3s ease-in-out 0s; 
    color:rgb(183, 121, 235); text-decoration:none; font-weight:normal; 
}
a.series:visited { color: rgb(183, 121, 235); text-decoration:none; font-weight:normal; }
a.series:hover { 
    transition: all 1.3s ease-in-out 0s; 
    color: rgb(206, 115, 248); text-decoration:none; font-weight:normal; 
}
a.series:active { color: rgb(183, 121, 235); text-decoration:none; font-weight:normal; }

a.games:link { 
    transition: all 1.3s ease-in-out 0s; 
    color:rgb(212, 78, 112); text-decoration:none; font-weight:normal; 
}
a.games:visited { color: rgb(212, 78, 112); text-decoration:none; font-weight:normal; }
a.games:hover { 
    transition: all 1.3s ease-in-out 0s; 
    color: rgb(121, 66, 80); text-decoration:none; font-weight:normal; 
}
a.games:active { color: rgb(212, 78, 112); text-decoration:none; font-weight:normal; }


a.resume:link { 
    transition: all 0.3s ease-in-out 0s; 
    color:rgb(255, 255, 255); text-decoration:none; font-weight:normal; 
}
a.resume:visited { color: rgb(255, 255, 255); text-decoration:none; font-weight:normal; }
a.resume:hover { 
    transition: all 0.3s ease-in-out 0s; 
    color: rgb(164, 122, 199); text-decoration:none; font-weight:normal; 
}
a.resume:active { color: rgb(255, 255, 255); text-decoration:none; font-weight:normal; }