<!-- Page Header -->
<header class="masthead" [ngClass]="{'color1': blockselected[1], 'color2': blockselected[2], 'color3': blockselected[3], 'color4': blockselected[4], 'color5': blockselected[5] }">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-md-10 mx-auto clearfix">
        <div class="post-heading">
          <div class="floating-box color1" 
          [ngClass]="{'larger': blockselected[1] }"
          (mouseenter) ="mouseEnter(1)" (mouseleave) ="mouseLeave(1)">
              <h2 class="subheading">
                <img src="assets/waving-hand.png" 
                [ngClass]="{'shake': shake, 'hand':!shake}"> 
                Hi, I am <b>Jo&atilde;o Pedro Le&ocirc;ncio</b>.</h2> 
              <p class="text-desc">Also known as joopeeds</p>
          </div>
          <div class="floating-box color2" 
          [ngClass]="{'larger': blockselected[2] }"
          (mouseenter) ="mouseEnter(2)" (mouseleave) ="mouseLeave(2)">
              <p class="clearfix">I graduated from The Federal University of Campina Grande 
                  with a Bachelor's degree in Computer Science </p>
              <p>I am a Full Stack Developer who is always trying to balance the visual weight</p>
              <p>I am based in Auckland, NZ <img src="assets/location.png" 
                [ngClass]="{'shake': location, 'location':!location}"> </p>
          </div>
          <div class="floating-box color3" 
          [ngClass]="{'larger': blockselected[3] }"
          (mouseenter) ="mouseEnter(3)" (mouseleave) ="mouseLeave(3)">
              <p>Apart from that, on a usual day, my little joys are listening to good music, taking photos (sometimes), learning a new thing.</p>  
              <p>I love to have time to read. Also, I've just started writing on medium.</p>
              <p>Btw, I've recently listened to <span [innerHTML]="lastmusic"></span><span class="small"> - {{ when | amTimeAgo}}</span></p>
              <p [innerHTML]="onrepeat"></p>
              <hr>
              <p [innerHTML]="series"></p>
          </div>
          <div class="floating-box color4" 
          [ngClass]="{'larger': blockselected[4] }"
          (mouseenter) ="mouseEnter(4)" (mouseleave) ="mouseLeave(4)">
              <p>Although I am not good at all you can also find myself  
               playing <a class="games" target="_blank" href="http://xboxdvr.com/gamer/joopeeds/videos">Tom Clancy's Rainbow Six Siege</a> on Xbox</p>
              <p></p>
          </div>
          <div class="floating-box color5" 
          [ngClass]="{'larger': blockselected[5] }"
          (mouseenter) ="mouseEnter(5)" (mouseleave) ="mouseLeave(5)">
            <p>See my full resume and work history 
              <a class="resume" target="_blank" href="http://www.linkedin.com/in/joopeed/">on Linkedin</a> or 
              <a class="resume" target="_blank" href="http://www.joopeeds.com/resume.pdf">download it</a></p>
            <p>To get in touch, write to <a class="resume" href="mailto:joopeeds@gmail.com">joopeeds@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
