<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <span class="text-desc">Also known as joopeeds</span>
          <h2 class="subheading">Hi, I am <b>Jo&atilde;o Pedro Le&ocirc;ncio</b>.</h2> 
          
          <h3>I'm mostly a Full Stack Developer</h3>
          <h5>when not, I enjoy listening to music, watching series and reading.</h5>
          Btw, I've recently listened to <span [innerHTML]="lastmusic"></span>
          <h3>I am based in Auckland, NZ</h3>
          <br><br><br>
          <hr>
          <h3>To get in touch, write to joopeeds@gmail.com</h3>
          <h3>Please, download my updated CV </h3>
        </div>
      </div>
    </div>
  </div>
</header>
